html, body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
}
/* Global Styles */

#page {
    min-height: 100%;
    position: relative;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}
.btn {
    height: 30px;
    border: none;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}
.button_1 {
    background: #3B5998;
}
.button_2 {
    background: #ff3232;
}
.lg {
    width: 30%;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.form-element {
    padding: 4px;
    height: 25px;
    width: 80%;
}
.error {
    color: red;
    margin: 10px 0 20px 0;
}
.offer {
    color: #35424a;
}
/* Header */

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3B5998 3px solid;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
    display: inline-block;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 20px;
}
header .highlight, header .current a {
    color: #3B5998;
    font-weight: bold;
}
header a:hover {
    color: #cccccc;
    font-weight: bold;
}
/* Show case section */

#showcase {
    min-height: 400px;
    width: 100%;
    background: url('../img/carpool.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#showcase p {
    font-size: 20px;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#register {
    padding: 2px;
    color: white;
    background: #35424a;
}
#register h1 {
    float: left;
}
#register form {
    float: right;
    margin-top: 15px;
}
/* main */

#main {
    margin-top: 0;
    padding-bottom: 100px;
}
#main h1 {
    text-align: center;
    font-size: 23px;
}
#main .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
#main .box img {
    width: 90px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #D6DBDF;
}
th {
    background-color: #3B5998;
    color: white;
}
/* Login */

.login {
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    height: 380px;
    background-color: #85929E;
    border-radius: 5px;
}
.register {
   margin: 20px auto;
    padding: 20px;
    width: 400px;
    min-height: 480px;
    background-color: #85929E;
    border-radius: 5px;
}
input {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
.select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.heading {
   color: #fff;
}

form {
    padding: 20px;
    text-align: center;
}
form .btn {
    background-color: #3B5998;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    height: 40px;
}
form .btn:hover, form .btn:active {
    background-color: #1F78B4;
    border: 2px solid #1F78B4;
}
/* Tab Section on Dashboard */
* {box-sizing: border-box}
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #35424a;
    margin-left: 8%;
    width: 20%;
    height: 500px;
}
.tab button {
    display: block;
    background-color: inherit;
    color: #ffffff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #fff;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #3B5998;
}
.tabcontent {
    float: left;
    padding: 0px 10px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    background-color: lightgrey;
    height: 500px;
}

.notify {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 3px;
}

/* Profile */
.profile {
    background-color: lightgrey;
    width: 450px;
    margin: 55px auto;
    margin-top: 0;
    padding-bottom: 1px;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
}
.profile-body {
    padding: 5px 30px;
}
.profile-item-wrapper {
    display: flex;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgba(180,180,180,.3);
}
.profile-item-wrapper:last-child {
    border-bottom: none;
}
.profile-item {
    flex-basis: 25%;
    font-weight: bold;
    margin-top: 12px;
    text-align: justify;
}
.item-details {
    flex-basis: 80%;
    text-align: left;
}

* {
    box-sizing: border-box
}
/* footer */

footer {
    padding: 20px;
    color: #ffffff;
    background-color: #35424a;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
/* Media Queries */

@media(max-width: 768px) {
    header #branding, header nav, header nav li, #register h1, #register form, #main .box {
        float: none;
        text-align: center;
        width: 100%;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #register button {
        display: block;
        width: 100%;
    }
    .tab button {
        font-size: 13px;
    }
    #register form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }
}